
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <h1>Accueil</h1>
            <form class="form-inline">
                <a href=@Html.ActionLink("A propos", "About", "Home") type="button">A propos</a>
                < type="button">Smaller button</>
            </form>
        </nav>
       
        <a href="~/a-propos">A propos</a>
        <br />
        
        <br />
        <a href="@Url.Action("About","Home")">A propos</a>
        <br />
        <a href="@Url.RouteUrl("AboutRoute")">A propos</a>


        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    </div>
</body>
</html>
